# .github/workflows/vultr-build.yml
name: Build on Vultr

on:
  push:
    tags:
      - 'v*'  # e.g., v1.0.0

jobs:
  build-and-push:
    uses: hearmeman24/hearmeman-vultr-build/.github/workflows/vultr-build.yml@main
    with:
      harbor_project_name: ${{ vars.HARBOR_PROJECT_NAME || secrets.HARBOR_PROJECT_NAME }}
      vultr_plan: "voc-g-8c-32gb-160s-amd"
      vultr_region: "fra"
    secrets:
      pat: ${{ secrets.PAT }}
      vultr_api_key: ${{ secrets.VULTR_API_KEY }}
      registry_username: ${{ secrets.REGISTRY_USERNAME }}
      registry_password: ${{ secrets.REGISTRY_PASSWORD }}
      civitai_token: ${{ secrets.CIVITAI_TOKEN }}